
* {
    margin: 0px;
    padding :0px;
    box-sizing: border-box;
    overflow:hidden;
}


#fixedZoomInbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    zoom: 0;
    max-width: 50px;
    max-height: 50px;
    min-width:50px;
    min-height: 50px;
    background-color: black;
    border-style: none;
    color: white;
    font-family: 'Coiny', cursive;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;

}
#fixedZoomOutbutton {
    position: fixed;
    bottom: 0px;
    right: 50px; 
    max-width: 50px;
    max-height: 50px;
    min-width:50px;
    min-height: 50px;

}
#fixedRecenterbutton {
    position: fixed;
    bottom: 0px;
    right:100px; 
    max-width: 50px;
    max-height: 50px;
    min-width:50px;
    min-height: 50px;
   
}

/*
*/

/*
canvas {
    width: 400%;
    height: 1000px;
}
*/
